{#
/**
 * @file offre_entity.html.twig
 * Default theme implementation to present Offre entity data.
 *
 * This template is used when viewing Offre entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_offre_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('offre_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
